//colors 
$light-dark: rgb(145, 145, 145);
$light-blue: #C9E9FF;
$dark-blue: #2283C6;
$light-red: #DC3545;
$dark-green: #00751A;



//images 
$logo-url: url('../images/logo-small.png');


//responsiveness width points

$mobile-max: 767px;
$tablet-min: 768px;
$tablet-max: 1024px;


//cursor
$cursor-pen: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='black' viewBox='0 0 24 24'><path d='M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04a1.003 1.003 0 0 0 0-1.42l-2.34-2.34a1.003 1.003 0 0 0-1.42 0l-1.83 1.83 3.75 3.75 1.84-1.82z'/></svg>") 0 24, crosshair;
