@use "variables" as *;

.container {
  text-align: center;
  border: 1px solid black;
  padding-left: 25px;
  padding-right: 25px;
  height: 100vh;
  background-color: $light-blue;
  overflow: auto;

  h1 {
    color: black;
    margin-bottom: 1.5rem;
    font-family: 'courier-prime';
    font-weight: bold;
  }

  .biopsy {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 16px;

    .biopsy-intro {
      text-align: justify;
      margin-bottom: 1rem;
    }

    .pat-name-date {
      margin-top: 1rem;
      .input-group-text {
        min-width: 120px;
        justify-content: center;
      }
    }

    .biopsy-paragraph {
      text-align: start;
      h5 {
        color: $dark-blue;
      }
    }
  }
}
