<div class="container">
    <div class="formheader mb-2">
        <div class="logo">
        </div>
        <div class="align-items-center">
            <button type="button" class="btn btn-sm header-button-save"><i
                    class="fa-solid fa-upload me-2"></i>Submit</button>
            <button type="button" class="btn btn-sm header-button-cancel"><i
                    class="fa-solid fa-xmark me-2"></i>Cancel</button>
        </div>
    </div>

    <h4 class="text-start">Wound Debridement Consent</h4>

    <div class="row pat-name-date mb-3">
        <div class="col-md-6">
            <div class="input-group">
                <span class="input-group-text" id="patient-name-label">Patient's Name: </span>
                <input type="text" class="form-control" aria-label="Patient Name" aria-describedby="patient-name-label">
            </div>
        </div>

        <div class="col-md-6">
            <div class="input-group">
                <span class="input-group-text" id="date-label">D.O.B: </span>
                <input type="date" class="form-control" aria-label="Date" aria-describedby="date-label">
            </div>
        </div>
    </div>

    <div class="col-md-12 text-start mb-3">
        <span>
            I hereby authorize “
            <input type="text" class="form-control form-control-sm d-inline-block w-25" aria-label="Patient Name"
                aria-describedby="patient-name-label">
            ” to perform the following special procedure / treatment:
        </span>
    </div>
    <h4 class="text-start text-decoration-none">Conservative Sharp Wound Debridement</h4>


    <div class="description">
        <p>I understand that there may be unforeseen circumstances that are encountered while performing
            the above listed special procedure/treatment that require the assistance of other qualified medical
            personnel
            who have not been identified.</p>
        <ul class="list-unstyled py-3">
            <li>I have had explained to me in connection with the proposed procedure/treatment:</li>
            <ol type="I">
                <li>the nature and purpose of the proposed surgery/procedure/treatment; </li>
                <li>the foreseeable risks and consequences of the proposed surgery/procedure/treatment, including the
                    risk that the proposed surgery/procedure/treatment may not achieve the desired objective;</li>
                <li>the alternatives to the proposed surgery/procedure/treatment and the associated risks and benefits
                    to such alternatives; and</li>
                <li>the reasonably foreseeable risks and alternatives to the transfusion of blood and blood products
                    should I need a blood transfusion.</li>
            </ol>
        </ul>
    </div>


    <div class="deb-other-des">
        <p>Specifically, in obtaining my informed consent to the special procedure, I have been informed of the
            following reasonably foreseeable risks:</p>
        <p>• Pain / Pressure • Bleeding • Infection • Death</p>
        <p>I am aware that, in addition to the reasonably foreseeable risks described, there are other
            foreseeable risks, which have been discussed with me, but are not listed.</p>
        <p>I affirm that I understand the purpose and potential benefits of the proposed treatment and/or special
            procedure, that no guarantee has been made to me as to the results that may be obtained, and that an offer
            has been made to me to answer any of my questions about the proposed procedure.</p>
        <p>I agree to the use of anesthesia and/or/analgesia as required, and if applicable, the disposal
            of any tissue removed.</p>
        <p>I also authorize the Hospital and the above-named physician(s) to photograph, video and /or use any
            other mediums which result in the permanent documentation of my image for medical, scientific or
            educational purposes, provided my identity is not revealed by them. I agree that any photographs
            taken pursuant to this authorization, which are not required by law to be retained, may be disposed of
            by the provider so long as the manner of disposition shall be permanent destruction.
            This consent may be revocable by me at any time, except to the extent it has already been relied
            upon.</p>
    </div>


    <div class="row pat-name-date bottom-0">
        <div class="col-md-6">
            <div class="input-group">
                <span class="input-group-text" id="patient-name-label">Patient's Signature: </span>
                <input type="text" class="form-control" aria-label="Patient Name" aria-describedby="patient-name-label">
            </div>
        </div>

        <div class="col-md-5">
            <div class="input-group">
                <span class="input-group-text" id="patient-name-label">Patient's Name: </span>
                <input type="text" class="form-control" aria-label="Patient Name" aria-describedby="patient-name-label">
            </div>
        </div>
    </div>
</div>