.biopsy {
  text-align: center;
  border: 1px solid black;
  padding-left: 25px;
  padding-right: 25px;
  height: 100vh;
  background-color: whitesmoke;
  overflow: auto;
}
.biopsy h1 {
  color: black;
  margin-bottom: 1rem;
  font-family: "courier-prime";
  font-weight: bold;
}
@media (max-width: 767px) {
  .biopsy h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 15px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .biopsy h1 {
    font-size: 1.7rem;
    margin-bottom: 1rem;
    margin-top: 15px;
  }
}
.biopsy .biopsy-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 16px;
}
.biopsy .biopsy-content .biopsy-intro {
  text-align: justify;
}
.biopsy .biopsy-content .pat-name-date .input-group-text {
  min-width: 120px;
  justify-content: center;
}
.biopsy .biopsy-content .biopsy-paragraph {
  text-align: justify;
}
.biopsy .biopsy-content .biopsy-paragraph h5 {
  color: #2283C6;
}
@media (max-width: 767px) {
  .biopsy .biopsy-content .biopsy-paragraph h5 {
    font-size: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .biopsy .biopsy-content .biopsy-paragraph h5 {
    font-size: 1.3rem;
  }
}
.biopsy .biopsy-signature-date {
  align-items: center;
}
.biopsy .biopsy-signature-date .biopsy-signature .biopsy-sig-head {
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media (max-width: 767px) {
  .biopsy .biopsy-signature-date .biopsy-signature .biopsy-sig-head {
    flex-direction: column;
    margin-bottom: 10px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .biopsy .biopsy-signature-date .biopsy-signature .biopsy-sig-head {
    flex-direction: column;
    margin-top: 3px;
    margin-bottom: 3px;
  }
}
@media (max-width: 767px) {
  .biopsy .biopsy-signature-date .biopsy-signature .biopsy-sig-head h5 {
    font-size: 1.2rem;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .biopsy .biopsy-signature-date .biopsy-signature .biopsy-sig-head h5 {
    font-size: 1.3rem;
  }
}
@media (max-width: 767px) {
  .biopsy .biopsy-date {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.container h4 {
  font-family: "courier-prime";
  text-decoration: underline;
  font-weight: bold;
}
.container .description {
  text-align: start;
  font-family: "roboto-slab";
}
.container .description ol {
  margin-left: 20px;
}
.container .description ol {
  list-style-type: upper-roman;
}
.container .description ol li {
  margin-bottom: 0.5rem;
  font-family: "roboto-slab";
}
.container .description ol li::marker {
  content: counter(list-item, upper-roman) ") ";
  font-weight: bold;
}
.container .deb-other-des {
  text-align: start;
  font-family: "roboto-slab";
}

.container .main-heading {
  text-align: justify;
  font-size: 22px;
  font-weight: bold;
  font-family: "courier-prime";
}
.container .main-heading .typo-red {
  color: #DC3545;
}
.container .main-heading .typo-blue {
  color: #2283C6;
}
.container .ctp-paragraph {
  text-align: justify;
}
.container .ctp-paragraph h5 {
  color: #2283C6;
  text-decoration: underline;
}
.container .risks {
  text-align: justify;
}

@font-face {
  font-family: "courier-prime";
  src: url("/assets/fonts/CourierPrime-Regular.woff2") format("woff2"), url("/assets/fonts/CourierPrime-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "roboto-slab";
  src: url("/assets/fonts/RobotoSlab-Regular.woff2") format("woff2"), url("/assets/fonts/RobotoSlab-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
html,
body {
  padding: 0;
  margin: 0;
}

.input-group-text {
  border: none;
  font-weight: bold;
  background-color: whitesmoke;
  border-radius: 0;
}

.form-control {
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid black;
  border-radius: 0;
  background-color: whitesmoke;
  padding: 0;
}
@media (max-width: 767px) {
  .form-control {
    min-width: 80px;
  }
}

.form-control:focus,
.input-group-text:focus {
  box-shadow: none !important;
  outline: none !important;
  border-color: inherit;
  background-color: whitesmoke;
}

.formheader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 30px;
}
.formheader .logo {
  width: 40px;
  height: 40px;
  background-image: url("../images/logo-small.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.formheader .header-button-save {
  background-color: #00751A;
  border-radius: 0;
  color: white;
}
.formheader .header-button-cancel {
  background-color: #DC3545;
  border-radius: 0;
  color: white;
}
@media (max-width: 767px) {
  .formheader {
    margin-top: 5px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .formheader {
    margin-top: 10px;
  }
}
@media (min-width: 768px) {
  .formheader {
    margin-top: 15px;
  }
}

.sig-container {
  position: relative;
  display: inline-block;
  border: 1px solid #2283C6;
}
.sig-container .sig-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 3px;
  margin-bottom: 3px;
}
.sig-container .sig-controls button {
  border: 1px solid #2283C6;
}
@media (max-width: 767px) {
  .sig-container .sig-controls button {
    font-size: 12px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .sig-container .sig-controls button {
    font-size: 14px;
  }
}
.sig-container .sig-controls .sig-canvas {
  width: 100%;
  max-width: 500px;
  height: 150px;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='black' viewBox='0 0 24 24'><path d='M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04a1.003 1.003 0 0 0 0-1.42l-2.34-2.34a1.003 1.003 0 0 0-1.42 0l-1.83 1.83 3.75 3.75 1.84-1.82z'/></svg>") 0 24, crosshair;
}
@media (max-width: 767px) {
  .sig-container .sig-controls .sig-canvas {
    max-width: 400px;
    height: 100px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .sig-container .sig-controls .sig-canvas {
    max-width: 450px;
    height: 130px;
  }
}

/*# sourceMappingURL=styles.css.map */
