<div class="container biopsy">
    <div class="formheader">
        <div class="logo">
        </div>
        <div #saveCancelButtons class="align-items-center">
            <button type="button" class="btn btn-sm header-button-save" (click)="onSubmit()">Submit</button>
            <button type="button" class="btn btn-sm header-button-cancel">Cancel</button>
        </div>
    </div>
    <div #biopsy class="row">
        <h1>Tissue Biopsy Consent Form</h1>
        <div class="col-12 biopsy-content">
            <div class="biopsy-intro">
                <p>
                    Your healthcare provider may need to perform a skin biopsy to evaluate your skin condition.
                    Please review and sign below. You will be given ample time to discuss the procedure if your
                    healthcare provider
                    determines that a skin biopsy is necessary.
                </p>
            </div>

            <div class="row pat-name-date mb-3">
                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-text" id="patient-name-label">Patient Name:</span>
                        <input type="text" class="form-control" aria-label="Patient Name" [(ngModel)]="patName"
                            aria-describedby="patient-name-label">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-text" id="date-label">Date:</span>
                        <input type="date" class="form-control" aria-label="Date" aria-describedby="date-label" [(ngModel)]="patNameDate">
                    </div>
                </div>
            </div>


            <div class="biopsy-paragraph mb-3">
                <h5>PURPOSE:</h5>
                <p>A biopsy is a surgical procedure used to obtain a sample of tissue for microscopic examination to aid
                    the healthcare provider in the diagnosis. The entire lesion may not be removed in this procedure.
                    Further medical or surgical treatment may be needed when the diagnosis is made.</p>
            </div>

            <div class="biopsy-paragraph mb-3">
                <h5>PROPOSED TREATMENT:</h5>
                <p>I understand that a biopsy requires obtaining a sample of tissue and is a surgical procedure. As in
                    any surgical procedure, there are certain inherent risks including bleeding, post-operative pain,
                    infection, reactions to sutures, anesthetics or topical antibiotics, and scarring. Although all
                    reasonable efforts will be made to minimize the possibility of these potential complications, no
                    guarantees can be made since many factors beyond the control of the physician (such as the degree of
                    sun damage or patient compliance with post-operative instructions) affect the ultimate healing.</p>
            </div>


            <div class="biopsy-paragraph mb-3">
                <h5>IMAGING:</h5>
                <p>I authorize clinical images as a part of treatment and care for historical, training and/or
                    promotional purposes. I understand confidentiality will be maintained.</p>
            </div>

            <div class="biopsy-paragraph mb-3">
                <p>A pathologist will examine the tissue obtained in this biopsy procedure. I understand that I may
                    receive a separate bill from the pathologist or laboratory for this microscopic examination.</p>
            </div>
            <div class="biopsy-paragraph mb-3">
                <h5>OTHER ACKNOWLEDGMENT DISCLOSURES:</h5>
                <p>I am able to read and understand English.</p>
            </div>

            <div class="row biopsy-signature-date">
                <div class="col col-md-8 biopsy-signature">
                    <div class="biopsy-sig-head">
                        <h5>CONSENT: PATIENT <br>(OR LEGAL GUARDIAN) SIGNATURE:</h5>
                        <div class="sig-container">
                            <canvas #biopsyPatientSignature class="sgi-canvas">
                            </canvas>
                            <div class="sig-controls">
                                <button type="button" class="btn btn-sm me-1" (click)="clearSignature()">Clear</button>
                                <button type="button" class="btn btn-sm" (click)="undoSignature()">Undo</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col col-md-4 biopsy-date">
                    <div class="input-group">
                        <span class="input-group-text" id="date-label">Date:</span>
                        <input type="date" class="form-control" aria-label="Date" aria-describedby="date-label" [(ngModel)]="patSigDate">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<app-modal #modalPopup [title]='modalTitle()' [description]='modalDescription()' [type]='modalType()' (closed)="onModalClosed($event)"></app-modal>