<div class="container">
    <div class="formheader mb-3">
        <div class="logo">
        </div>
        <div class="align-items-center">
            <button type="button" class="btn btn-sm header-button-save"><i
                    class="fa-solid fa-upload me-2"></i>Submit</button>
            <button type="button" class="btn btn-sm header-button-cancel"><i
                    class="fa-solid fa-xmark me-2"></i>Cancel</button>
        </div>
    </div>

    <div class="main-heading">
        <span class="typo-red">Informed Consent</span> - <span class="typo-blue">Application Of Skin Substitute</span>
    </div>

    <div class="descryption text-start">
        <p>
            This is an informed consent document to help you learn about the Skin Substitute Application (Allograft /
            Xenograft) and the wound. This document will outline the risks and other aspects of the Skin Substitute
            Application. <strong>It is important that you read the whole document carefully, discuss and ask all your
                questions
                and concerns with your Wound Care Medical Provider. </strong>
        </p>
    </div>

    <div class="ctp-paragraph">
        <h5>INFORMATION / USE OF SKIN SUBSTITUTE</h5>
        <p>Skin substitute is a biologic dressing derived from humans or animals. It is used to assist in wound healing
            for chronic wounds or wounds that failed to show significant progress towards closure with standard wound
            care within the last 4 to 8 weeks.
            Skin substitutes constitute biologic covers for refractory wounds with full-thickness skin loss, 3rd degree
            burns, or other disease processes such as pressure ulcers, diabetic neuropathic ulcers, and the skin loss
            associated with venous insufficiency and other chronic wounds.The production of these biologic skin
            substitutes or CTPs varies by company and product, but generally
            involves the creation of immunologically inert biological products containing protein, hormones or enzymes
            seeded into a matrix which may provide protein or growth factors proposed to stimulate or facilitate healing
            or promote epithelization.A variety of biosynthetic and tissue-engineered skin substitution products
            marketed as Human Skin
            Equivalents (HSE) or Cellular or Tissue-based Products (CTP) are manufactured under an array of trade names
            and marketed for a variety of indications. All are procured, produced, manufactured, processed and promoted
            in sufficiently different manners to preclude direct product comparison for equivalency or superiority in
            randomized controlled trials.
        </p>
    </div>

    <div class="ctp-paragraph d-flex flex-row justify-content-start">
        <h6>Autografts / Tissue Cultured Autografts - </h6>
        <p>include the harvest or application of an autologous skin graft.</p>
    </div>

    <div class="ctp-paragraph d-flex flex-row mb-2">
        <h6 class="flex-shrink-0 me-2">Skin Substitute Grafts - </h6>
        <p class="flex-grow-1 mb-0"> include non-autologous human cellular and tissue products (e.g., dermal or
            epidermal, cellular and acellular, homograft or allograft), non-human cellular or tissue products (i.e.,
            Xenograft, derived from animals such as Pig, Cow, Horse, Sheep, Fish etc.), and biological products
            (synthetic or xenogeneic) that are applied in a sheet over an open wound to augment wound closure or skin
            growth.
        </p>
    </div>

    <div class="ctp-paragraph">
        <h5 class="text-black text-decoration-underline">PRODUCT INFORMATION</h5>
    </div>


    <div class="row pat-name-date mb-3">
        <div class="col-md-6">
            <div class="input-group">
                <span class="input-group-text" id="product-name-label">Product Name:</span>
                <input type="text" class="form-control" aria-label="Product Name" aria-describedby="product-name-label">
            </div>
        </div>

        <div class="col-md-6">
            <div class="input-group">
                <span class="input-group-text" id="Q-CODE"> IDENTIFICATION Q-CODE</span>
                <input type="text" class="form-control" aria-label="Q-CODE Name" aria-describedby="Q-CODE">
            </div>
        </div>
    </div>

    <div class="ctp-paragraph d-flex flex-row justify-content-start">
        <h5 class="text-black text-decoration-underline">Benefits: </h5>
        <p> CTP is designed to promote optimal wound healing by facilitating granulation and re-epithelialization.
        </p>
    </div>


    <div class="row">
        <div class="col-12 risks">
            <div class="ctp-paragraph">
                <h5 class="text-black text-decoration-underline">Potential Risks</h5>
            </div>
            <ul class="list-unstyled py-3">
                <li>I have had explained to me in connection with the proposed procedure/treatment:</li>
                <ol type="I">
                    <li>Wound Infection – May occur, requiring oral, intravenous, or topical antibiotics and further
                        treatments.</li>
                    <li>Scar tissue formation – Upon 100% wound closure, skin color may be lighter or darker than the
                        rest of the skin. These changes can be permanent.</li>
                    <li>Re-opening of wound with re-injury – Upon 100% closure of the wound, the affected area may
                        re-open due to pressure, shear, friction, or re-injury due to decreased skin tensile strength.
                    </li>
                </ol>
            </ul>
        </div>
        <div class="col-12 signatures">
             <div class="row pat-name-date mb-3">
                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-text" id="patient-name-label">Patient Name:</span>
                        <input type="text" class="form-control" aria-label="Patient Name"
                            aria-describedby="patient-name-label">
                    </div>
                    <div class="input-group">
                        <span class="input-group-text" id="date-label">Date:</span>
                        <input type="date" class="form-control" aria-label="Date" aria-describedby="date-label">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-text" id="sign">Sign:</span>
                        <input type="text" class="form-control" aria-label="sign"
                            aria-describedby="sign">
                    </div>
                    <div class="input-group">
                        <span class="input-group-text" id="date-label">Date:</span>
                        <input type="date" class="form-control" aria-label="Date" aria-describedby="date-label">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>